*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff

__pycache__/
*.py[cod]

*.sqlite3
*.db

.env

*.log
*.pot
*.pyc
*.pyo
*.swp
.DS_Store
Thumbs.db
.idea/
.vscode/
node_modules/

*/migrations/*.py
!*/migrations/__init__.py