{% for book in books %}
    <div class="col-md-3 mb-3 book-item" style="margin-top: 10px; margin-bottom: 10px;">
        <a href="{{ book.get_absolute_url }}" style="text-decoration: none; color: inherit;">
            <div class="card" style="width: 100%; height: 350px; position: relative;">
                <img src="{{ book.image.url }}" class="card-img-top img-fluid" alt="{{ book.name }}" style="width: 100%; height: 200px; object-fit: cover;" />
                <div class="card-body" style="text-align: center; padding-top: 10px;">
                    <h5 class="card-title" style="font-size: 1.1rem; font-weight: bold;">{{ book.name }}</h5>
                    <p class="card-text" style="font-size: 0.9rem;">{{ book.author }}</p>
                    <p class="card-text" style="font-size: 0.9rem;">Price: ￥{{ book.list_price }}</p>
                </div>
            </div>
        </a>
    </div>
{% endfor %}
